/* HEADER */
header {
  height: 250px;
}
h1 {
  font-family: 'Pacifico', cursive;
}
.hiddenBlock {
  background-color: #B9B5B5;
}
.smRow {
  font-size: 1em;
}
.smRow #imgTel {
  width: 1em;
  height: 1em;
}
.smRow #imgMail {
  width: 1em;
  height: 1em;
}
#imgTel {
  width: 2.5em;
  height: 2.5em;
}
a {
  color: black;
}
nav {
  background-color: #FFF3E2;
}
